# Covid-19 Info Brasil üåç

Dados e scripts para extrair a s√©rie hist√≥rica da pandemia COVID-19 no Brasil, de acordo com o Minist√©rio da Sa√∫de.

ATEN√á√ÉO: O Minist√©rio da Sa√∫de disponibilizou um arquivo CSV com a s√©rie hist√≥rica completa por UF, de modo que n√£o √© necess√°rio realizar a extra√ß√£o manual atualmente.

# ü§î Contexto

Embora a comunica√ß√£o e partilha de dados por parte do Minist√©rio de Sa√∫de Portugu√™s tenha melhorado consideravelmente ao longo da crise do COVID-19, ainda est√° longe de ideal.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
#pip install pandas==1.0.2 lxml bs4 html5lib

In [ ]:
pip install pandas lxml bs4 html5lib

In [1]:
import requests
import json
import pandas as pd

In [2]:
# Baixa o arquivo
json_uf = requests.get('https://xx9p7hp1p7.execute-api.us-east-1.amazonaws.com/prod/PortalMapa',
                       headers={'x-parse-application-id': 'unAFkcaNDeXajurGB7LChj8SgQYS2ptm'}).content

dados_uf = json.loads(json_uf)['results']

In [3]:
# Importa dados e colunas
df = pd.DataFrame(dados_uf)

# Ajusta hor√°rio
df['updatedAt'] = pd.to_datetime(df.updatedAt)
df['date'] = df['updatedAt'].dt.date.astype(str)
df['hour'] = df['updatedAt'].dt.hour.astype(str)
df['minute'] = df['updatedAt'].dt.minute.astype(str)
df['time'] =  df['hour'].str.cat(df['minute'], sep=':')

#df

In [4]:
# Troca nome dos estados para sigla
dicionario = {"Acre": "AC", "Alagoas": "AL", "Amap√°": "AP", "Amazonas": "AM", "Bahia": "BA", "Cear√°": "CE",
             "Distrito Federal": "DF", "Esp√≠rito Santo": "ES", "Goi√°s": "GO", "Maranh√£o": "MA",
              "Mato Grosso": "MT","Mato Grosso do Sul": "MS","Minas Gerais":"MG", "Paran√°": "PR",
              "Para√≠ba": "PB", "Par√°": "PA", "Pernambuco": "PE", "Piau√≠": "PI", "Rio Grande do Norte": "RN", 
              "Rio Grande do Sul": "RS", "Rio de Janeiro": "RJ", "Rond√¥nia": "RO", "Roraima": "RR",
              "S√£o Paulo": "SP", "Santa Catarina": "SC", "Sergipe": "SE", "Tocantins": "TO"
             }

df = df.replace({"nome": dicionario})

In [5]:
# Renomear colunas
#df.rename(columns={'nome':'uf', 'qtd_obito':'deaths', 'qtd_confirmado':'cases'}, inplace=True)

df.rename(columns={'nome':'uf'}, inplace=True)

df

      objectId  uf  qtd_confirmado  latitude  ...        date hour minute   time
0   uTN8WP10HY  AC            1447  -9.97499  ...  2020-05-10   21     33  21:33
1   XHUDIFEjQy  AL            2258  -9.66599  ...  2020-05-10   21     33  21:33
2   kfOtyvDHh3  AP            2613  0.034934  ...  2020-05-10   21     33  21:33
3   kZjftVxsJ2  AM           12599  -3.11866  ...  2020-05-10   21     33  21:33
4   alzUcJAbsL  BA            5558  -12.9718  ...  2020-05-10   21     33  21:33
5   ThJDLoQlin  CE           16692  -3.71664  ...  2020-05-10   21     35  21:35
6   U8jHH89IkZ  DF            2682  -15.7795  ...  2020-05-10   21     34  21:34
7   LlLUQQW7em  ES            4599  -20.3155  ...  2020-05-10   21     34  21:34
8   MOPNB3fPnM  GO            1093  -16.6864  ...  2020-05-10   21     35  21:35
9   fwHJWgSphk  MA            7599  -2.53874  ...  2020-05-10   21     34  21:34
10  EPgf4v3eYo  MT             519   -15.601  ...  2020-05-10   21     36  21:36
11  EgBxJSFJkf  MS             362  -20.4486  ...  2020-05-10   21     38  21:38
12  2v59GBInrd  MG            3237  -19.9102  ...  2020-05-10   21     36  21:36
13  cSB7DrlxKW  PR            1835  -25.4195  ...  2020-05-10   21     37  21:37
14  6eSlyH3T4n  PB            2341  -7.11509  ...  2020-05-10   21     39  21:39
15  d1ejs3xsWl  PA            7256   -1.4554  ...  2020-05-10   21     35  21:35
16  fnVKeAvGLb  PE           13275  -8.04666  ...  2020-05-10   21     36  21:36
17  gQiBOengLe  PI            1278  -5.09194  ...  2020-05-10   21     37  21:37
18  ZEqcJDbUUk  RN            1928  -5.79357  ...  2020-05-10   21     36  21:36
19  zWseWwWhhn  RS            2542  -30.0318  ...  2020-05-10   21     36  21:36
20  SgfpOQHx9r  RJ           17062  -22.9129  ...  2020-05-10   21     37  21:37
21  IeCnkqtfOf  RO            1302  -8.76077  ...  2020-05-10   21     37  21:37
22  OpUETQp72a  RR            1290   2.82384  ...  2020-05-10   21     39  21:39
23  v64fT2DVSw  SC            3429  -27.5945  ...  2020-05-10   21     40  21:40
24  VpSNd1zJrg  SE            1771  -10.9091  ...  2020-05-10   21     39  21:39
25  AIzthCzqdx  SP           45444  -23.5329  ...  2020-05-10   21     39  21:39
26  bsZ2atdJ6V  TO             688    -10.24  ...  2020-05-10   21     40  21:40

[27 rows x 15 columns]

In [ ]:
# Carrega a s√©rie hist√≥rica e junta com o dia atual, removendo duplicadas
final = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/MITCOVID19BR/dados/corona_brasil.csv").append(df,ignore_index=True)

final

In [8]:
# Exporta o CSV

final.to_csv("/content/gdrive/My Drive/Colab Notebooks/MITCOVID19BR/dados/corona_brasil.csv", index = False)

In [9]:
# Remove colunas desnecess√°rias
df = df.drop(['objectId', 'latitude', 'longitude','updatedAt',
              'createdAt', 'percent','letalidade','hour','minute'], axis=1)

df

    uf  qtd_confirmado  qtd_obito  qtd_incidencia        date   time
0   AC            1447         41            1641  2020-05-10  21:33
1   AL            2258        126             677  2020-05-10  21:33
2   AP            2613         72            3090  2020-05-10  21:33
3   AM           12599       1004            3040  2020-05-10  21:33
4   BA            5558        202             374  2020-05-10  21:33
5   CE           16692       1114            1828  2020-05-10  21:35
6   DF            2682         42             889  2020-05-10  21:34
7   ES            4599        181            1144  2020-05-10  21:34
8   GO            1093         47             156  2020-05-10  21:35
9   MA            7599        379            1074  2020-05-10  21:34
10  MT             519         18             149  2020-05-10  21:36
11  MS             362         11             130  2020-05-10  21:38
12  MG            3237        119             153  2020-05-10  21:36
13  PR            1835        109             160  2020-05-10  21:37
14  PB            2341        135             583  2020-05-10  21:39
15  PA            7256        652             843  2020-05-10  21:35
16  PE           13275       1047            1389  2020-05-10  21:36
17  PI            1278         42             390  2020-05-10  21:37
18  RN            1928         88             550  2020-05-10  21:36
19  RS            2542         97             223  2020-05-10  21:36
20  RJ           17062       1714             988  2020-05-10  21:37
21  RO            1302         43             733  2020-05-10  21:37
22  RR            1290         21            2130  2020-05-10  21:39
23  SC            3429         65             479  2020-05-10  21:40
24  SE            1771         34             770  2020-05-10  21:39
25  SP           45444       3709             990  2020-05-10  21:39
26  TO             688         11             437  2020-05-10  21:40

In [10]:
df

    uf  qtd_confirmado  qtd_obito  qtd_incidencia        date   time
0   AC            1447         41            1641  2020-05-10  21:33
1   AL            2258        126             677  2020-05-10  21:33
2   AP            2613         72            3090  2020-05-10  21:33
3   AM           12599       1004            3040  2020-05-10  21:33
4   BA            5558        202             374  2020-05-10  21:33
5   CE           16692       1114            1828  2020-05-10  21:35
6   DF            2682         42             889  2020-05-10  21:34
7   ES            4599        181            1144  2020-05-10  21:34
8   GO            1093         47             156  2020-05-10  21:35
9   MA            7599        379            1074  2020-05-10  21:34
10  MT             519         18             149  2020-05-10  21:36
11  MS             362         11             130  2020-05-10  21:38
12  MG            3237        119             153  2020-05-10  21:36
13  PR            1835        109             160  2020-05-10  21:37
14  PB            2341        135             583  2020-05-10  21:39
15  PA            7256        652             843  2020-05-10  21:35
16  PE           13275       1047            1389  2020-05-10  21:36
17  PI            1278         42             390  2020-05-10  21:37
18  RN            1928         88             550  2020-05-10  21:36
19  RS            2542         97             223  2020-05-10  21:36
20  RJ           17062       1714             988  2020-05-10  21:37
21  RO            1302         43             733  2020-05-10  21:37
22  RR            1290         21            2130  2020-05-10  21:39
23  SC            3429         65             479  2020-05-10  21:40
24  SE            1771         34             770  2020-05-10  21:39
25  SP           45444       3709             990  2020-05-10  21:39
26  TO             688         11             437  2020-05-10  21:40

### Sobre os dados

No arquivo corona_brasil.csv, voc√™ encontra a s√©rie hist√≥rica dos casos confirmados e mortes de COVID-19 segundo o [Minist√©rio da Sa√∫de](https://covid.saude.gov.br/).

O arquivo serie_ivis.csv traz a s√©rie hist√≥rica at√© 18 de mar√ßo, quando eram inclu√≠das atrav√©s da Plataforma IVIS outras informa√ß√µes como casos suspeitos e descartados.

Saiba mais sobre a metodologia de extra√ß√£o e compila√ß√£o dos dados abaixo e como utilizar o script.

**Licen√ßa dos dados**
A base de dados corona_brasil.csv √© disponibilizada sob a licen√ßa Open Database License: http://opendatacommons.org/licenses/odbl/1.0/.

### Sobre a coleta dos dados

O projeto foi iniciado em meados de mar√ßo, disponibilizando um script e a s√©rie hist√≥rica dos casos de coronav√≠rus (COVID-19). Os dados n√£o eram mostrados diretamente ao p√∫blico, mas estavam dispon√≠veis no servidor da Plataforma Integrada de Vigil√¢ncia em Sa√∫de (IVIS). Atrav√©s da antiga interface - hoje j√° fora do ar - e do site atual sobre os casos de coronav√≠rus s√≥ √© poss√≠vel disponibilizar n√∫meros totais. Ao contr√°rio da interface antiga, a atual sequer oferece o detalhamento de √≥bitos por estado ou op√ß√£o de download dos dados em CSV.

Entre o dia 18/03/2020 e dia 26/03/2020, os dados foram atualizados unicamente por meio de tabelas dispon√≠veis nos comunicados no blog do Minist√©rio da Sa√∫de e, at√© o dia 25/03, a inser√ß√£o foi feita manualmente, contando com uma verifica√ß√£o em pares para checagem.

O script disponibilizado hoje automatiza a extra√ß√£o dos dados destes boletins - e n√£o da plataforma, uma vez que ali n√£o encontramos os dados completos e formatos tabulares. O script tamb√©m concilia estes dados com a s√©rie hist√≥rica disponibilizada anteriormente.

Caso tenha alguma d√∫vida ou perceba alguma inconsist√™ncia, entre em contato abrindo uma "Issue" neste reposit√≥rio do Github.

O arquivo corona_brasil_old.csv est√° atualizado at√© o dia 29 de mar√ßo. Para facilitar o a compreens√£o dos dados, ele foi divido em dois, refletindo assim a mudan√ßa na metodologia de disponibiliza√ß√£o dos dados adotada pelo Minist√©rio da Sa√∫de: o primeiro (serie_ivis) traz a s√©rie hist√≥rica da Plataforma IVIS at√© o dia 18 de mar√ßo e o segundo (corona_br.csv) traz a s√©rie hist√≥rica completa e atualizada de casos confirmados e √≥bitos.

### serie_ivis

A tabela √© baseada no formato originalmente adotado pelo Minist√©rio da Sa√∫de para armazenas os dados da COVID-19 na Plataforma Integrada de Vigil√¢ncia em Sa√∫de. Atualmente, por√©m, o √≥rg√£o disponibiliza apenas n√∫meros de √≥bitos e casos confirmados.

* uid = N√∫mero de identifica√ß√£o da UF
* date = Data de registro dos dados (%yyyy-%mm-%dd)
* time = Hora do registro dos dados (%hh:%mm)
* suspects = Casos suspeitos
* refuses = Descartados
* cases = Casos confirmados
* comments = Coment√°rio sobre os dados adicionados na Plataforma IVIS (Ex: "Transmiss√£o comunit√°ria no munic√≠pio do Rio de Janeiro" ou "1 Portador assintom√°tico")
* broadcast = Identificador para transmiss√£o comunit√°ria?
* deaths = Mortes/√ìbitos
* uf = Coluna com a sigla da UF, adicionada pela primeira vers√£o do script de extra√ß√£o.

Exisitam tr√™s vari√°veis tamb√©m disponibilizadas no arquivo JSON (confirmado, local, deads), que foram descartadas pois estarem vazias. O registro pode ser conferido no hist√≥rico do git.

### Registros duplicados

O arquivo JSON disponibilizado continha registros duplicados. Estes foram identificados (vide o CSV correspondente) e removidos.

# üí° Problemas, inconsist√™ncias e melhorias

Quaisquer sugest√µes de dados complementares (provenientes de fontes oficiais), inconsist√™ncias nos dados ou melhorias gen√©ricas, √† vontade ‚û°Ô∏è Issues ou Pull Requests.

# üìÖÔ∏è √öltima atualiza√ß√£o: 20 de Junho de 2020, 18:55

Outros projetos de monitoramento
O [Brasil.IO](https://brasil.io/dataset/covid19/boletim) compilado os dados a partir dos governos estaduais, com dados sobre munic√≠pio;

Para um levantamento realizado manualmente de casos em n√≠vel municipal, confira este projeto de [Wesley Cota](https://labs.wesleycota.com/sarscov2/br/) ou a iniciativa colaborativa [Mapa do Corona Virus](https://github.com/belisards/coronabr/blob/master/mapadocoronavirus.com).

[Kaggle Corona-Virus-Brazil](https://www.kaggle.com/unanimad/corona-virus-brazil)

Lista colaborativa no [f√≥rum Dados Abertos](https://dadosabertos.social/t/dados-sobre-a-pandemia-do-novo-coronavirus/267);

Painel e proje√ß√µes do [Observat√≥rio COVID-19 BR](https://covid19br.github.io/)

https://github.com/belisards/coronabr

**Acreditamos no poder dos dados para transformar a nossa sociedade para melhor transparencia e informa√ß√£o para todos.**

We believe in the power of data to transform our society for better transparency and for everyone.